$menuHeight: 60px;

html, body, .content, .intro {
	background-color: #121212;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.intro {
	z-index: 10;

	img {
		animation: pulse 2s infinite;
		height: 18%;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.menu {
	width: 100%; 
	height: $menuHeight;

	span {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}

	img {
		height: 50%;
	}

	.fcname {
		font-size: 40px;
		padding-left: 15px;
		font-family: 'Monoton', cursive;
		text-shadow: 1px 1px 2px black;
	}
}

.content {
	opacity: 0;
	background-color: transparent;

	section {
		width: 100%;
		height: calc(100% - #{$menuHeight});
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: $menuHeight;
	}

	.visible {
		display: table;

		div {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.title {
		.description, .server {
			display: table-cell;
			vertical-align: middle;
		}
	}
	
	.discord {
		height: 500px;
	}
	
	.raid {
		.calendar {
			margin: 0 auto;
		}
	
		.mobile {
			display: block;
		}
	
		.desktop {
			display: none;
		}
	}
}

@media only screen and (min-device-width : 768px) {
	.content {
		.title {
			.archon {
				left: 20%;
	
				.fcname {
					font-size: 100px;
					padding-left: 15px;
				}
			}
		}
	
		.discord {
			max-width: 50%;
		}
	
		.raid {
			.mobile {
				display: none;
			}
		
			.desktop {
				display: block;
			}
		}
	}
}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 1;
		filter: none;
	}
	100% {
		opacity: 0;
	}
}