html, body, #intro {
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #121212;
	color: #FFFFFF;
}

section {
	max-width: 80%;
	margin: 80px auto 0;
	font-family: 'Roboto', sans-serif;
}

#intro {
	z-index: 10;
	background-color: #121212;

	img {
		height: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		animation: pulse 2.5s infinite;
	}
}

#content {
	display: none;
	opacity: 0;
}

#title {
	$titleHeight: 768px;

	.background {
		background: url('assets/foreverarchon.jpg') no-repeat top center fixed; 
		height: $titleHeight;
		filter: blur(2px);
		background-size: cover;
	}
	.archon {
		margin: 0 auto;
		top: 0;
		left: 30px;
		position: absolute;
		display: table;
		height: $titleHeight;

		span {
			display: table-cell;
			vertical-align: middle;
		}

		img {
			height: 100px;
		}

		.fcname {
			font-size: 40px;
			padding-left: 15px;
			text-shadow: 1px 1px 2px black;
		}
	}
}

#discord {
	height: 500px;
}

#raid {
	.calendar {
		margin: 0 auto;
	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}
}

@media only screen and (min-device-width : 768px) {
	#title {
		$titleHeight: 1000px;
		.background {
			height: $titleHeight;
		}

		.archon {
			height: $titleHeight;
			left: 20%;

			.fcname {
				font-size: 60px;
				padding-left: 15px;
			}
		}
	}

	#discord {
		max-width: 50%;
	}

	#raid {
		.mobile {
			display: none;
		}
	
		.desktop {
			display: block;
		}
	}
}

@keyframes pulse {
	0% {
		opacity: 0;

	}
	70% {
		opacity: 1;

	}
	100% {
		opacity: 0;
	}
}